.appHeading {
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    margin-left: 30px;
    font-weight: 500;
    margin-bottom: 10px
  }
}

.textIconLink {
  display: flex;
  align-items: center;
  font-size: 18px;


  & h3 {
    margin: 0 0 0 6px;
    font-weight: 500;
    position: relative;
    top: -2px;
  }
}

.links {
  & a:not(:last-child) {
    margin-right: 8px
  }
}
